# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# do not include config.json.
# This file is for testing only but contains valid config anyways
config.json

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Make artifacts
_out
_test
dist/
.envrc
